:root {
    --bg-body: hsl(0, 0%, 8%);
    --bg-body2: hsl(0, 0%, 14%);
    --accent: hsl(153, 71%, 59%);
    --text1: hsl(0, 0%, 100%);
    --text2: hsl(0, 0%, 85%);
    --invalid: hsl(7, 100%, 68%);
    --fs-18: 1.125rem;
    --fs-88: 5.5rem;
    --fs-72: 4.5rem;
    --fs-40: 2.5rem;
    --fs-48: 3rem;
    --fs-36: 2.25rem;
    --fs-32: 2rem;
    --fs-24: 1.5rem;
    --fs-20: 1.25rem;
    --container: 69.375rem;
    --transition: 250ms ease-in-out;
  }

.contact__control {
    position: relative;
    margin-block-end: 16px;
  }
  
  .contact__control input,
  .contact__control textarea {
    width: 100%;
    padding-block: 16px;
    // padding-inline: 24px;
    border: none;
    border-bottom: 1px solid var(--text1);
    background: transparent;
    font-size: 1rem;
    line-height: 1.625;
    color: var(--text1);
  }
  
  .contact__control > *::placeholder {
    color: var(--text1);
    opacity: 0.5;
    text-transform: uppercase;
  }
  
  .contact__control textarea {
    margin-block-end: 32px;
  }
  
  .contact__control.align-right {
    display: flex;
    justify-content: flex-end;
  }
  
  .contact__control button {
    background-color: transparent;
    border: none;
  }
  
  .contact__invalid-icon {
    display: none;
    width: var(--fs-24);
    height: var(--fs-24);
    position: absolute;
    top: 50%;
    right: 0;
    translate: -50% -50%;
  }
  
  .contact input:focus-visible:invalid ~ .contact__invalid-icon,
  .contact textarea:focus-visible:invalid ~ .contact__invalid-icon {
    display: inline-block;
  }
  
  .contact textarea:focus-visible:invalid ~ .contact__invalid-icon {
    top: 1.2rem;
    right: 1.5rem;
    translate: none;
  }
  .visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }