@use 'var';

footer {
    background-color: var.$secundary-background-color;
    padding-top: 5.25rem;
    display: flex;
    justify-content: center;
    width: 100%;


    .wraper {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;

        .row {
            display: flex;


            @media only screen and (max-width: 800px) {
                flex-direction: column;
                align-items: center;
            }


            .col {
                max-width: 50%;
                display: flex;
                flex-direction: column;
                flex-basis: 50%;

                ul {
                    list-style: none;
                    li {
                        margin-block:1rem ;
                    }
                }

                @media only screen and (max-width: 800px) {
                    max-width: 100%;
                }

                h2 {
                    margin-bottom: 2.25rem;
                }
            }
        }
    }


    .border-top {
        border-top: 0.125rem solid var.$primary-text-color;
        width: 100%;

    }
}