@use 'var';

nav {
    padding-top: 2.44rem;
    padding-bottom: 7.94rem;
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 500px){
        flex-direction: column;
        align-items: center;
        gap: 1.25rem;
        padding-bottom: 3rem;
    }

    .soc-links {


        a {

            margin-inline: 0.8rem;

            svg {
                path {

                    transition: fill 250ms ease-in-out;
                }

                &:hover path {
                    fill: var.$accent-color;
                }
            }

        }

    }

}